.colorlist{
   
    width:25px!important;
    height:25px!important;
}
.inner{

    height:25px!important;
    width:25px!important;
    user-select:none;
    text-align: center;
    transition:.3s all;
}

.lixlsttclass{
    display:inline-block;
    margin-right:3px;
}