.colorlist{
    border:solid black 1px!important;
    width:30px!important;
    height:30px!important;
}
.inner{

    height:30px!important;
    width:30px!important;
    user-select:none;
    text-align: center;
    transition:.3s all;
}
